$roboto-font-path: "../assets/";

@import 'materialize';
@import 'ember-cli-materialize';

@import 'body';
@import 'grid';
@import 'navbar';
@import 'sidebar';
@import 'overlay';

html, body, body > .ember-view {
  @extend .cs-fill-container;
  margin: 0px;
}

a {
  outline : none;
}

.cs-fill-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}
