<nav class="light-blue darken-1" role="navigation">

  <div class="nav-wrapper container">

    {{link-to "ember-cli-tetris" "index" id="logo-container" class="brand-logo center"}}

    <a href="#" data-activates="nav-mobile" class="button-collapse" id="js-nav-mobile-collapse">
      <i class="material-icons">menu</i>
    </a>

    <a id="cs-github-logo" class="right" target="_blank" href="https://github.com/ahab-io/ember-cli-tetris">
      {{inline-svg "github"}}
    </a>

  </div>

</nav>

